body{
    font-family:sans-serif;
    background-color: darkgrey;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Press Start 2P";

}

h2 {
    text-align: center;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    margin-top: 0;
}

ul {
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0;
}


.picture {
    display: flex;
    justify-content: center;
}

figure {
    width: 450px;
    height: auto;
   
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
}

section > h2 {
font-size: 20px;
}

p {
    text-align: center;
}

